body {
  margin: 0;
}

.teste1 {
  width: 100vw;
  height: 100vh;

  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 16px;
}

.teste1__rect {
  flex-shrink: 0;

  width: 128px;
  height: 128px;

  background-color: black;
  border-radius: 16px;
}
